{% extends 'base.html.twig' %}
{% block title %}Контактные даннык{% endblock %}
{% block content %}
<title>Контакты</title>
   <div class="content2">
    <p>Все можно узнать только по <a href="mailto:psixwill@gmail.com">почте</a></p>
</div>
{% endblock %}
