<div class='block'>
  <h3 style="word-break: break-word;"> {{ article.name }} </h3>
  <p style="word-break: break-word;"> {{ article.content }} </p>

  {% if isAuth %}
    <form action='/articles/{{ article.id }}' method='POST'>
      <input type='submit' value='Удалить'>
    </form>

    <a href="/articles/{{article.id}}/edit">Редактировать</a>
  {% endif %}
</div>
