{% extends "base.html.twig" %}
{% block content %}
  <title>Новостной блог</title>
    <div class="content2">
      {% if isAuth %}
        <a href="/articles/form">Дабавить новость</a>
      {% endif %}

      {% for article in articles %}
        {{ include('article.html.twig') }}
      {% endfor %}
    </div>
{% endblock %}
