{% extends 'base.html.twig' %}
{% block content %}
  <div class="content2">
    <form method="post" action="/articles">
      <div>
        <label for="txtName">Название</label>
        <input id="txtName" type="text" name="name" value="" />
      </div>
      <div>
        <label for="txtContent">Текст</label>
        <input id="txtContent" type="text" name="content" value="" />
      </div>
      <div>
        <button type="submit">Добавить</button>
      </div>
    </form>
  </div>
{% endblock %}
