{% extends 'base.html.twig' %}
{% block title %}Портфолио{% endblock %}

{% block content %}
<title>Портфолио</title>
   <div class="content2">
    <p>Здесь будут опубликованны мои работы, но к сожаления пока ничего нет!</p>
</div>
{% endblock %}
