{% extends 'base.html.twig' %}
{% block title %}Резюме{% endblock %}

{% block content %}
    <div class="content2">
     <p style="white-space: pre-wrap; word-wrap: break-word;">
<strong>Web-разработчик</strong>

Информационные технологии, Интернет, Мультимедиа
Занятость: полная занятость, проектная работа
График работы: полный день, гибкий график
Желательное время в пути до работы: не имеет значения

<strong>Образование</strong>
Высшее
Московский государственный технический университет им. Н.Э. Баумана, Москва
2015
Информатика и системы управления, Автоматизация и управление (Автоматизация системы обработки информации и управления)

<strong>Повышение квалификации, курсы</strong>
Web-разработчик
2016
Учебный Центр «Специалист» при МГТУ им. Н.Э.Баумана, Веб-программист. Профессиональная разработка на PHP и JS.

<strong>Электронные сертификаты</strong>
2016
<a href="http://www.specialist.ru/graduate/groupcert/1300868">PHP. Уровень 3. Профессиональная разработка на PHP5</a>
<a href="http://www.specialist.ru/graduate/groupcert/1300867">PHP. Уровень 2. Разработка web - сайтов и взаимодействие с MySQL</a>
<a href="http://www.specialist.ru/graduate/groupcert/1300866">PHP. Уровень 1. Основы создания сайтов</a>
<a href="http://www.specialist.ru/graduate/groupcert/1300865">MySQL 5. Проектирование и создание баз данных для web</a>
<a href="http://www.specialist.ru/graduate/groupcert/1300864">Web - мастеринг. Серверное web - программирование</a>
<a href="http://www.specialist.ru/graduate/groupcert/1300863">JavaScript. Уровень 2. Расширенные возможности</a>
2015
<a href="http://www.specialist.ru/graduate/groupcert/1300861">JavaScript. Уровень 1. Основы веб - программирования</a>
<a href="http://www.specialist.ru/graduate/groupcert/1300841">HTML и CSS. Уровень 1. Создание сайтов на HTML 5 и СSS 3</a>

<strong>Ключевые навыки</strong>
Знание языков
Русский — родной
Английский — базовые знания
Немецкий — базовые знания

<strong>Навыки</strong>
HTML; HTML5; SQL; JavaScript; Adobe Photoshop; CSS3; PHP5; PHP; CSS; MySQL; ООП; MS SQL; Администрирование серверов; Администрирование серверов Windows; LAN; Проектирование ЛВС

<strong>Обо мне</strong>
Интересуюсь комп. железой, настольными По для обработки медиафайлов, интернет технологии, инструменты разработки приложений/сайтов.
</p>
</div>
{% endblock %}
